.employee-card {
  background-color: #efe2ba;
  width: 350px;
  height: 150px;
  padding: 0.75rem;
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px 18px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.employee-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 1rem 0 0;
  position: absolute;
  top: 15px;
  left: 15px;
}

.employee-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  position: absolute;
  top: 20px;
  left: 150px;
}

h2 {
  color: #4056a1;
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
  letter-spacing: 1.5px;
}

h3 {
  color: #4056a1;
  font-size: 0.8rem;
  font-weight: 800;
  padding-bottom: 0.5rem;
}

.employee-overlay {
  position: absolute;
  background-color: #f13c20;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.5s;
}
.employee-overlay:hover {
  opacity: 0.3;
}

.pop-up {
  background-color: rgba(68, 68, 68, 0.4);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  position: fixed;
  background-color: #efe2ba;
  width: 360px;
  height: 500px;
  border-radius: 10px 18px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.close,
.previous,
.next {
  background-color: #efe2ba;
  color: inherit;
  border: none;
  outline: none;
  border-radius: 10px 12px;
  padding: 0.25rem 0.5rem;
  position: absolute;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background-color 0.5s;
}
.close:hover,
.previous:hover,
.next:hover {
  background-color: #d79922;
}

.close {
  top: 1rem;
  right: 1rem;
}

.previous {
  top: 60%;
  left: 1rem;
}

.next {
  top: 60%;
  right: 1rem;
}

.window-image {
  display: block;
  width: 220px;
  height: 220px;
  padding: 1.5rem 1rem 1rem;
  margin: auto;
  border-radius: 50%;
}

.window-info {
  text-align: center;
}

.window-info h2 {
  padding-bottom: 1rem;
}

.window-info p:nth-child(4) {
  padding-bottom: 1.8rem;
}

.window-info p {
  padding-bottom: 0.8rem;
}

.hidden {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #c5cbe3;
  color: #4056a1;
}

header {
  display: grid;
  justify-content: center;
  margin: 1rem auto 3rem;
  max-width: calc(700px + 2.6rem);
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 1.3rem;
  justify-content: center;
  margin: 0.75rem;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 3rem;
}

h1 {
  color: #4056a1;
  margin: 0.5rem 0 2rem;
  font-size: 1.65rem;
  font-weight: 600;
  letter-spacing: 1.8px;
  align-self: center;
  justify-self: center;
}

input[type=search] {
  background-color: #d79922;
  color: #eee;
  justify-self: center;
  padding: 0.25rem;
  padding-left: 1rem;
  width: 265px;
  height: 44px;
  border: none;
  border-radius: 10px 15px;
  outline: none;
  font-size: 1.2rem;
  font-weight: 500;
}

input::placeholder {
  color: #4056a1;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 721px) {
  header {
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0 2rem;
    margin-bottom: 0;
  }

  header h1 {
    margin: 0;
    width: 350px;
    justify-self: end;
  }

  input[type=search] {
    width: 350px;
  }

  input::placeholder {
    text-align: right;
  }
}
@media (min-width: 1092px) {
  header {
    max-width: calc(1050px + 2.6rem);
  }

  header h1 {
    width: 350px;
    justify-self: start;
  }

  input[type=search] {
    width: 350px;
    justify-self: end;
  }
}
.wrapper {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h3 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
}

input[type=search] {
  font-family: inherit;
}

/*# sourceMappingURL=main.css.map */
