h1{
    margin: 1rem 0 1rem;
    font-size: 1.65rem;
    text-align: center;
}

input[type=search]{
    margin: 0.5rem;
    padding: 0.25rem;
    width: 265px;
    border: none;
    border-radius: 5px;
    outline: none;
}